.nav p {
  padding: 0;
  margin: 0;
  font-size: 20px;
  font-weight: bolder;
  position: absolute;
  animation: move 20s ease-in-out infinite;
  -webkit-animation: move 20s ease-in-out infinite;
  -o-animation: move 20s ease-in-out infinite;
  -moz-animation: move 20s ease-in-out infinite;
}
@keyframes move {
  from {
    transform: translateX(100%);
    right: 0px;
  }
  to {
    right: 100%;
    transform: translateX(-200%);
  }
}
.spanClass {
  position: relative;
}
.q {
  display: inline-block;
  position: absolute;
  animation: question 4s ease-in-out 1;
  -webkit-animation: question 4s ease-in-out 1;
  -o-animation: question 4s ease-in-out 1;
  -moz-animation: question 4s ease-in-out 1;
}
@keyframes question {
  from {
    transform: translateX(-100%);
    left: -30px;
  }
  to {
    left: 50%;
    transform: translateX(-50%);
  }
}
