.bodyBar {
  display: flex;
  flex: 70%;
  max-width: 70%;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-evenly;
}
.loadginSign {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);
}

.bodyBar .button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bodyBar .button > button {
  padding: 15px;
  font-size: 20px;
  background-color: rgb(65, 65, 65);
  color: white;
  border: none;
  border-radius: 10px;
}
.bodyBar .button > button:hover {
  background-color: antiquewhite;
  color: black;
}
@media (max-width: 992px) {
  .loadginSign {
    width: 100%;
    transform: translateX(-50%);
    top: 0;
  }
  .bodyBar {
    width: 100%;
    text-align: center;
  }
}
