a {
  height: 300px;
  margin: 6px;
  padding: 5px;
}
a:hover {
  background-color: #b6b1b16e;
  color: white !important;
  border-radius: 10px;
}
.card,
.card img {
  height: 300px;
  width: 150px;
}
.card {
  background-color: #966060;
  cursor: pointer;
}
