.searchBar {
  /* height: 200px; */
  padding: 30px;
  border: 2px solid green;
}
.searchBar h1 {
  color: #c1f700;
  display: block !important;
}
.searchBar span {
  padding: 20px;
  margin: 10px;
  background-color: rgba(211, 211, 211, 0.151);
  color: rgb(233, 233, 233);
  font-size: 20px;
  border-radius: 40%;
  cursor: pointer;
  border: 1px solid #00000070;
}
.tagName {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.searchBar span:hover {
  background-color: #d4d4d3ad;
  color: black;
}
@media (max-width: 992px) {
  .searchBar .tagName {
    flex-direction: column;
    align-items: flex-start;
  }
}
